$color-grey-light: rgb(240, 239, 239);
$color-black: #000;
$color-red: rgb(200, 21, 21);
$color-white: #fff;
$color-orange: rgb(248, 125, 43);
$color-blue: rgb(81, 81, 237);
$color-blue-dark: rgb(5, 5, 95);

$font-size-small: 1.5rem;
$font-size-default: 2.5rem;
